<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <br>
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h1 class="display-4 text-center">BURGER ME</h1>
                        <br>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h4>Add a BURGER!</h4>
                        <br>
                        <form class="create-form">
                            <div class="form-group">
                                <label for="burg">Name your burger:</label>
                                <input type="text" class="form-control" id="burg" name="name" autocomplete="off">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="devoured">Eat?</label>
                                <br>
                                <input type="radio" name="devoured" value="1" checked> Devour!
                                <br>
                                <input type="radio" name="devoured" value="0"> Not Now!
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Add</button>
                            <br>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">ON YOUR PLATE!</h4>
                                <br>

                                <ul class="list-group text-center">
                                    {{#each burgers}}
                                        {{#if devoured}}
                                            {{>burgers/burger-block devoured=false}}
                                        {{/if}}
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">MAYBE LATER!</h4>
                                <br>

                                <ul class="list-group text-center">
                                    {{#each burgers}}
                                        {{#unless devoured}}
                                            {{>burgers/burger-block devoured=true}}
                                        {{/unless}}
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-2">
            
            </div>
        </div>
    </div>
</body>