<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <br>
                <br>
                <div class="text-center">
                    <a href=".">
                        <img src="/assets/img/burger.png" alt="Burger icon" height="75" width="75">
                    </a>
                </div>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h4>Make it Your BURGR!</h4>
                        <br>
                        <form class="create-form">
                            <div class="form-group">
                                <label for="burg">Name Your BURGR:</label>
                                <input type="text" class="form-control" id="burg" name="name" autocomplete="off">
                            </div>
                            <br>
                            <div class="form-group">
                                <h5><label for="devoured">Eat?</label></h5>
                                <input type="radio" name="devoured" value="1" checked> Gimme!
                                <br>
                                <input type="radio" name="devoured" value="0"> To-go!
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Add</button>
                            <br>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">ON YOUR PLATE!</h4>
                                <br>

                                <ul class="list-group text-center">
                                    {{#each burgers}}
                                        {{#if devoured}}
                                            {{>burgers/burger-block devoured=false}}
                                        {{/if}}
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">MAYBE LATER!</h4>
                                <br>

                                <ul class="list-group text-center">
                                    {{#each burgers}}
                                        {{#unless devoured}}
                                            {{>burgers/burger-block devoured=true}}
                                        {{/unless}}
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-2">
            
            </div>
        </div>
    </div>
</body>