::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.list-group {
    list-style-type: none !important;
    text-align: right !important;
    padding-right: 15% !important;
    padding-left: 5% !important;
}

.btn-primary {
    background-color: #875CFF !important;
    border-color: #875CFF !important;
}